# Prerequisites
*.d

*.suo
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Progtest/3/.vs/3/v15/Browse.VC.opendb
Progtest/3/.vs/ProjectSettings.json
Progtest/3/.vs/3/v15/Browse.VC.db
Progtest/3/.vs/slnx.sqlite
